@model  Class13IntroToEFCore.Models.ViewModels.NumberViewModel

@{
    ViewData["Title"] = "Average";
}

<h1>Average</h1>

Number of Transcripts for Specific Student


<h1>@Model.Student.FullName</h1>
<p>Has @Model.Number of transcripts</p>

