<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Hello World!!</h1>
    <div>
        @RenderBody()
    </div>
    <h1>I'm a Footer!</h1>
</body>
</html>
